<!DOCTYPE html>
<html lang="es" ng-app="app">
<head>
    <meta charset="utf-8" />
    <title>Listas </title>
    <link rel="stylesheet" href="css/bootstrap.css" />
</head>
<body ng-controller="TipificacionCtrl">

    <div class="container">

        <h3>Listas Desplegables en MEAN</h3>

        <fieldset>


            <label>Departamento :</label>

            <select ng-model="dpto" ng-change="cargarTipi()" ng-options="d.coddep as d.desdep for d in dptos"></select>

            <label>Tipificaciones :</label>

            <select ng-model="tipi" ng-change="cargarOrig()">

                <option ng-repeat="p in tipis" value="{{p.codpro}}">{{p.despro}}</option>

            </select>

            <label>Origen :</label>

            <select ng-model="orig" ng-options="d.coddis as d.desdis for d in origs"></select>

        </fieldset>
        <p></p>
        <p>Departamento {{ dpto }}</p>
        <p>Tipificaciones {{ tipi }}</p>
        <p>Origen {{ orig }}</p>
    </div>
    <script type="text/javascript" src="js/angular.js"></script>
    <script type="text/javascript" src="js/ubigeo.js"></script>
</body>
</html>