		<!DOCTYPE html>
		<html>
		<head>
		<title>Registra tu Empresa</title>
		<link rel="stylesheet" href="/css/bootstrap.css" />
		<link rel="stylesheet" href="/css/style.css" />
		</head>

		<body>

		<div class="container">

		<div class="header clearfix">
		<nav>
		<ul class="nav nav-pills pull-right">
		<li role="presentation"><a href="/inicio">Regresar</a></li>
		</ul>
		</nav>
		<h3 class="text-muted">MensajeroRTC</h3>
		</div>


		<div class="row">
		<div class="col-lg-12">

		<h3 class="page-header">Registro De Empresa</h3>

		<form method="post" action="/registroempresa">

		<div class="row">
		<div class="col-sm-6">
		<h4 class="header" ><b>Datos Generales</b></h4>

		<div class="form-group">	
		<label>Nombre Corto de la Empresa:</label>
		<input type="text" class="form-control" placeholder="Nombre" name="Nombre_Empresa">
		</div>

		<div class="form-group">
		<label>Razon Social:</label>
		<input type="text" class="form-control" placeholder="Razon Social" name="Razon_Social">
		</div>

		<div class="form-group">
		<label>RFC:</label>
		<input type="text" class="form-control" placeholder="RFC" name="RFC">

		</div>
		<div class="form-group">
		<label>Correo Electronico:</label>
		<input type="text" class="form-control" placeholder="Correo Electronico" name="Email">
		</div>
		</div>


		<div class="row">
		<div class="col-sm-6">

		<h4 class="header"><b>Domicilio</b></h4>


		<div class="form-group">
		<label>Pais:</label>
		<br>
		<select name="Pais">
			<option value="Mexico">Mexico</option>
			<option value="Brasil">Brasil</option>
			<option value="Argentina">Argentina</option>   
		</select>
		</div>

			
		<div class="form-group">
		<label>Estado:</label>
		<br>
		<select name="Estado">
			<option value="Sinaloa">Sinaloa</option>
			<option value="Sonora">Sonora</option>
		</select>
		</div>

			
		<div class="form-group">
		<label>Ciudad:</label>
		<br>
		<select name="Ciudad">
			<option value="usuario">Culiacan</option>
			<option value="agente">Navolato</option> 
		</select>
		</div>




		<div class="form-group">
		<label>Colonia:</label>
		<input type="text" class="form-control" placeholder="Colonia" name="Colonia">
		</div>

		<div class="form-group">
		<label>Calle:</label>
		<input type="text" class="form-control" placeholder="Calle" name="Calle">
		</div>

		<div class="form-group">
		<label>Numero:</label>
		<input type="text" class="form-control" placeholder="Numero" name="Num_calle">
		</div>

		<div class="form-group">	
		<label>Telefono:</label>
		<input type="text" class="form-control" placeholder="Telefono" name="Telefono">
		</div>

		<br>

		<button type="submit" class="btn btn-default">Registar</button>
		<a href="/registroempresa" class="btn btn-default" role="button">Cancelar</a>
		</div>

		</form>

		</div>



		</div>

		<footer class="footer">
		<p>&copy; 2016 Coppel, Inc.</p>
		</footer>

		</div> <!-- /container -->
		</body>
		</html>