/*body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00B7FF;
}*/


#msjuser   {color:#fff}




body, html {
         
          margin: 0;
          -webkit-font-smoothing: antialiased;
          font-weight: 100;
          background: #fff;
         
          font-family: helvetica;
      }
.contenedor {
  width: 100%;
  height: auto;
  border: 1px solid #000;
}
      .tipificaciones {
        width: 98%;
        height: 150px;
        background: #f3f3f3;
        padding: 15px 15px 15px 15px;
        margin-top: 10px;
        margin-right: 10px; 
        border: 2px solid #ccc;
      }
      .tipificaciones select{
        width: 300px;
        height: 30px;
      }

      .tipificaciones .tipi {
        width: 40%;
        height: 150px;
        background: #f3f3f3;
        float: left;;
        color:#000;
      }
      .tipificaciones .tipi h5 {
        font-size: 16px;
        margin: 2px;
      }
      .tipificaciones .dialogo {
         width: 60%;
        height: 150px;
        background: #f3f3f3;
        float: right;
        color:#000;
      }
      .tipificaciones .dialogo h5 {
        font-size: 16px;
        margin: 2px;
      }
       
      .tabs input[type=radio] {
          position: absolute;
          top: -9999px;
          left: -9999px;
      }
      .tabs {
        width: 88%;
        float: none;
        list-style: none;
        position: relative;
        padding: 0;

        
      }
      .tabs li{
        /*float: left;*/
        margin-top:0px;
      }
      .tabs label {
          display: block;
          padding: 10px 20px;
          border-radius: 2px 2px 0 0;
          color: #08C;
          font-size: 24px;
          font-weight: normal;
          font-family: 'Lily Script One', helveti;
          background: rgba(255,255,255,0.2);
          cursor: pointer;
          position: relative;
          top: 3px;
          -webkit-transition: all 0.2s ease-in-out;
          -moz-transition: all 0.2s ease-in-out;
          -o-transition: all 0.2s ease-in-out;
          transition: all 0.2s ease-in-out;
      }
      .tabs label:hover {
        background: rgba(255,255,255,0.5);
        top: 0;
      }
       
      
       
      [id^=tab]:checked ~ [id^=tab-content] {
          display: block;
      }
      .tab-content{
       
        display: none;
        text-align: left;
        width: 99%;
        font-size: 20px;
        line-height: 140%;
        padding-top: 10px;
        background: #fff;
        border: 2px solid #ccc;
        padding: 15px;
        color: white;
        position: absolute;
        top: 0px;
        left: 170px;
        box-sizing: border-box;
        -webkit-animation-duration: 0.5s;
        -o-animation-duration: 0.5s;
        -moz-animation-duration: 0.5s;
        animation-duration: 0.5s;
      }
      .box_conversation {
        float:left;
        width:98%;
        height:500px;
        overflow:auto;
        padding:10px;
        background: #fff;
        border: 2px solid #ccc;
      }
      

    .triangle-isosceles {
      position: relative;
      size: 20px;
      padding: 15px;
      margin: 10px 0 20px;
      color: #000;
      background: #6fb3e0;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      border-radius: 10px;
      word-break: break-all;
      hyphens: auto;
      width: auto;
      -webkit-box-shadow: 10px 10px 5px 0px rgba(193,203,235,1);
      -moz-box-shadow: 10px 10px 5px 0px rgba(193,203,235,1);
      box-shadow: 10px 10px 5px 0px rgba(193,203,235,1);
      }

    .triangle-isosceles:after {
      content: "";
      position: absolute;
      bottom: -15px;
      left: 50px;
      border-width: 15px 15px 0;
      border-style: solid;
      border-color: #6fb3e0 transparent;
      display: block;
      width: 0;
    }


   .triangle-isosceles.top {
      background: #2b7dbc;
   }

    .triangle-isosceles.top:after {
      top: -15px;
    right: 50px;
    bottom: auto;
    left: auto;
    border-width: 0 15px 15px;
    border-color: #2b7dbc transparent;
    }