<!DOCTYPE html>
<html>
<head>
	<title>LoginApp</title>
	<link rel="stylesheet" href="/css/bootstrap.css" />
	<link rel="stylesheet" href="/css/style.css" />
</head>
<body>
	<div class="container">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right">
              <li role="presentation"><a href="/users/login">Login</a></li>
              <li role="presentation"><a href="/users/register">Register</a></li>
          </ul>
        </nav>
        <h3 class="text-muted">LoginApp</h3>
      </div>


      <div class="row">
        <div class="col-lg-12">

          <h3 class="page-header">Registro De Usuario</h3>
		  
<form method="post" action="/users/register">
  <div class="row">
   <div class="col-sm-6">
   <h3 class="header" >Datos Generales</h3>
    <div class="form-group">
     <label>Nombre:</label>
     <input type="text" class="form-control" placeholder="Nombre" name="Nombre">
    </div>
   <div class="form-group">
    <label>Apellido Paterno:</label>
    <input type="text" class="form-control" placeholder="Apellido Paterno" name="Ap_Paterno">
  </div>
  <div class="form-group">
    <label>Apellido Materno:</label>
    <input type="text" class="form-control" placeholder="Apellido Materno" name="Ap_Materno">
  </div>
   <div class="form-group">
    <label>Numero de empleado</label>
    <input type="text" class="form-control" placeholder="No. Empleado" name="username">
  </div>
   <div class="form-group">
    <label>Puesto:</label>
	<br>
	<select name="Puesto">
        <option value="usuario">Usuario</option>
        <option value="agente">Agente</option>
        <option value="administrador">Administrador</option>   
    </select>
  </div>
   <div class="form-group">
    <label>Email</label>
    <input type="email" class="form-control" placeholder="Email" name="email">
  </div>
  <div class="form-group">
    <label>Contraseña</label>
    <input type="password" class="form-control" placeholder="Contraseña" name="password">
  </div>
  <div class="form-group">
    <label>Confirmar Contraseña</label>
    <input type="password" class="form-control" placeholder="Confirmar Contraseña" name="password2">
  </div>
  </div>
  
  <div class="row">
  <div class="col-sm-6">
  <h3 class="header" >Region</h3>
   <div class="form-group">
    <label>Pais:</label>
	<br>
	<select name="Pais">
        <option value="Mexico">Mexico</option>   
    </select>
  </div>
   <div class="form-group">
    <label>Estado:</label>
	<br>
	<select name="Estado">
        <option value="Sinaloa">Sinaloa</option>  
    </select>
  </div>
   <div class="form-group">
    <label>Ciudad:</label>
	<br>
	<select name="Ciudad">
        <option value="Culiacan">Culiacan</option>   
    </select>
  </div>
  <h3 class="header" >Area</h3>
   <div class="form-group">
    <label>Area:</label>
	<br>
	<select name="Area">
        <option value="Tienda">Tienda</option>   
    </select>
  </div>
   <div class="form-group">
    <label>Departamento:</label>
	<br>
	<select name="Departamento">
        <option value="Ropa">Ropa</option>   
    </select>
  </div>
  
  <button type="submit" class="btn btn-default">Submit</button>
 <a href="/users/register" class="btn btn-default" role="button">Cancelar</a>
  </div>
  
</form>
        </div>
		

        
      </div>

      <footer class="footer">
        <p>&copy; 2016 Coppel, Inc.</p>
      </footer>

    </div> <!-- /container -->
</body>
</html>